* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: system-ui;
}

main {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 1265px;
}

thead tr td {
  vertical-align: middle;
  font-weight: bolder;
  font-size: 25px;
  color: #ffffff;
  padding: 29px;
}

thead tr td:nth-child(1) {
  min-width: 300px;
}

thead tr td div:nth-child(1) {
  margin-bottom: 40px;
}

thead tr td div:nth-child(2) {
  margin-bottom: 20px;
  font-size: 40px;
}

thead tr td:nth-child(1) {
  border-top-left-radius: 15px;
  background-color: #7887ab;
}

thead tr td:nth-child(2) {
  background-color: #4f628e;
}

thead tr td:nth-child(3) {
  background-color: #2e4172;
}

thead tr td:nth-child(4) {
  background-color: #162955;
}

thead tr td:nth-child(5) {
  border-top-right-radius: 15px;
  background-color: #061539;
}

tbody tr:nth-child(odd) td:nth-child(odd),
tfoot tr:nth-child(odd) td:nth-child(odd) {
  background-color: #dbdbdb;
}

tbody tr:nth-child(even) td:nth-child(even),
tfoot tr:nth-child(even) td:nth-child(even) {
  background-color: #f3f3f3;
}

tbody tr:nth-child(even) td:nth-child(odd),
tfoot tr:nth-child(even) td:nth-child(odd) {
  background-color: #ececec;
}

tbody tr:nth-child(odd) td:nth-child(even),
tfoot tr:nth-child(odd) td:nth-child(even) {
  background-color: #e7e7e7;
}

tbody tr td {
  padding: 26px 40px;
  font-size: 18px;
}

tbody tr td:nth-child(1) {
  text-align: left;
}

tfoot tr td {
  padding: 20px;
}

tfoot td:first-child {
  border-bottom-left-radius: 15px;
}

tfoot td:last-child {
  border-bottom-right-radius: 15px;
}

button {
  background-color: #d3d3d3;
  border: 3px solid #b7b7b7;
  padding: 15px 45px;
  font-weight: bold;
  color: #636161;
}
